<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"},"className":"mt-60"} -->
<main class="wp-block-group mt-60">
	<!-- wp:group {"align":"full","layout":{"type":"constrained"},"className":"pt-60 pb-60"} -->
	<div class="wp-block-group alignfull pt-60 pb-60">
		<!-- wp:post-title {"level":1} /-->
		<!-- wp:post-featured-image {"className":"aspect-[3/2]"} /-->
		<!-- wp:pattern {"slug":"twentytwentyfive/hidden-written-by"} /-->
		<!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /-->
		<!-- wp:group {"layout":{"type":"constrained"},"className":"pt-60 pb-60"} -->
		<div class="wp-block-group pt-60 pb-60">
			<!-- wp:post-terms {"term":"post_tag","separator":"  ","className":"is-style-post-terms-1"} /-->
		</div>
		<!-- /wp:group -->
		
		<!-- wp:pattern {"slug":"twentytwentyfive/post-navigation"} /-->
		<!-- wp:pattern {"slug":"twentytwentyfive/comments"} /-->
	</div>
	<!-- /wp:group -->
	<!-- wp:pattern {"slug":"twentytwentyfive/more-posts"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
